<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * routes.xml
 *
 * @copyright Copyright © 2021 RedStage. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="release_calendar" frontName="release_calendar">
            <module name="Redstage_ReleaseCalendar" />
        </route>
    </router>
</config>
